/* Chat containers */
html, 
body {
  background: linear-gradient(
      120deg,
      rgba(23, 190, 187, 1),
      rgba(240, 166, 202, 1)
    )
    fixed;
}
#new {
  border: 2px solid #dedede;
  background-color: #fffffff1;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  text-align: top;
  float: left;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
#other {
  border: 2px solid #dedede;
  background-color: #f5f0f0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  float: right;
  text-align: left;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
#img1 {
  width: 50px;
  height: 50px;
  float: left;
  float: top;
  margin-right: 30px;
  border-radius: 50%;
}
#img2 {
  width: 50px;
  height: 50px;
  float: right;
  float: top;
  margin-left: 30px;
  border-radius: 50%;
}
h1 {
  font-size: 10px;
  text-align: bottom;
}
#table1 {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
#table2 {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

.container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
  justify-content: center;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  font-size: 25px;
  font-style: italic;
}
h2 {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 9em;
  font-size: 25px;
  font-style: italic;
  color: rgb(255, 1, 1);
}
h3 {
  font-size: 25px;
  font-style: italic;
}

#img3 {
  width: 15rem;
  height: 19rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
